.PokemonAvatarWrapper {
  text-align: center;
}

.PokemonName {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 40px;
}

.PokemonAvatar {
  height: 100px;
  width: 100px;
}

.PokemonDetails {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  font-size: 16px;
}
