* {
  margin: 10;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 97.5%;
}
html,
body {
  height: 100%;
}
body {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  color: #f3f3f3;
  background: url("./assets/background.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#root {
  max-width: 1080px;
  margin: 0 auto;
  padding: 40px 20px;
}
button {
  cursor: pointer;
}
